<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>StudManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddCodeServlet</display-name>
    <servlet-name>AddCodeServlet</servlet-name>
    <servlet-class>com.lpu.webfs.AddCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCodeServlet</servlet-name>
    <url-pattern>/AddCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>student</display-name>
    <servlet-name>student</servlet-name>
    <jsp-file>/WEB-INF/views/student.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>student</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.lpu.webfs.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCodeServlet</display-name>
    <servlet-name>RemoveCodeServlet</servlet-name>
    <servlet-class>com.lpu.webfs.RemoveCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCodeServlet</servlet-name>
    <url-pattern>/RemoveCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.lpu.webfs.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchIDServlet</display-name>
    <servlet-name>SearchIDServlet</servlet-name>
    <servlet-class>com.lpu.webfs.SearchIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchIDServlet</servlet-name>
    <url-pattern>/SearchIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllServlet</display-name>
    <servlet-name>ShowAllServlet</servlet-name>
    <servlet-class>com.lpu.webfs.ShowAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllServlet</servlet-name>
    <url-pattern>/ShowAllServlet</url-pattern>
  </servlet-mapping>
</web-app>